@font-face {
    font-family: 'nova_flat';
    src: url("fonts/nova-flat.woff2");
}
 @font-face {
    font-family: 'dosis';
    src: url("fonts/Dosis-Variable.ttf");
}
@font-face {
    font-family: 'ubuntu';
    src: url("fonts/Ubuntu-Regular.ttf"), url("fonts/Ubuntu-Bold.ttf"), url("fonts/Ubuntu-Italic.ttf");
}
@font-face {
    font-family: 'nunito';
    src: url("fonts/Nunito-Variable.ttf");
}